html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Roboto";
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}
/* color */
:root{
   --main__text: rgba(180, 95, 77, 1);
   --like__yellow: rgba(246, 244, 236, 1);
   --footer__text: rgba(241, 211, 185, 1);
   --strange__green: rgba(169, 174, 141, 1);
}
/* start coding styles for the header of website */
.nav{
   padding: 10px 0;
}
.top{
   background-color: var(--main__text);
}
.top__text{
   color: var(--like__yellow);
   text-align: center;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 27.2px;
   padding: 10px 0;
}
.nav{
   background-color: var(--like__yellow);
}
.nav__container{
   max-width: 1400px;
   margin: 0 auto;
}
.nav__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav__list ul {
   display: flex;
   list-style: none;
}
.nav__list ul li a{
   color: var(--main__text);
   font-size: 18px;
   line-height: 28.8px; /* 160% */
   text-transform: capitalize;
   text-decoration: none;
}
.nav__list ul li{
   margin-right: 32px;
}
.nav__list ul li:last-child{
   margin-right: 280px;
}
.nav__list ul li a:hover{
   opacity: 80%;
}
.nav__content-logo{
   margin-right: 500px;
}
.nav__content-right{
   display: flex;
}
.nav__right-text, .nav__right-count{
   color: var(--main__text);
   font-size: 14px;
   line-height: 22.4px;
}
.nav__content-right img{
   margin-left: 20px;
   margin-right: 5px;
}
.bg{
   background-image: url(../images/main__background.jpg);
   height: 600px;
   background-size: cover;
   background-repeat: no-repeat;

}
.bg__button-1{
   text-align: center;
   padding-top: 23%;
}
.bg__button button{
   width: 128px;
   height: 48px;
   color: #FFF;
   font-size: 17px;
   line-height: 28.8px;
   background-color: var(--main__text);
   border: none;
   text-transform: uppercase;
   cursor: pointer;
}
.bg__button button:hover{
   border: 2px solid var(--main__text);
   background: none;
   transition: .4s;
}
/* finish coding styles for the header of website */

/* start coding styles for title section */
.green{
   background-color: var(--strange__green);
   padding: 69px 0;
}
.green__container{
   max-width: 1440px;
   margin: 0 auto;
}
.green__h3{
   color: #F6F4EC;
   font-size: 25px;
   line-height: 28.8px;
   font-weight: 400;
}
.green__h1{
   color: #F6F4EC;
   font-size: 40px;
   font-weight: 400;
   line-height: 64px;
   padding-top: 15px;
   margin-bottom: 30px;
}
.bg__button_2 button:hover{
   color: var(--main__text);
}
/* finish coding styles for title section */

/* start coding styles for grid section */
.grid{
   background-color: #F6F4EC;
   padding-bottom: 86px;
}
.grid__container{
   max-width: 1440px;
   margin: 0 auto;
}
.grid__content-title{
   color: #B45F4D;
   text-align: center;
   font-size: 23px;
   line-height: 39.2px; /* 170.435% */
   text-transform: capitalize;
   padding-top: 35px;
   margin-bottom: 44px;
}
.grid__template{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
   gap: 80px;
}
.grid__item-text{
   color: #B45F4D;
   font-size: 18px;
   line-height: 25.2px; /* 140% */
   text-transform: uppercase;
   margin: 10px 0;
}
.grid__item-price{
   color: #B45F4D;
   font-size: 16px;
   line-height: 16px;
}
/* finish coding styles for grid section */

/* start coding styles for candle section */
.candle{
   padding-top: 25px;
   padding-bottom: 50px;
}
.candle__container{
   max-width: 1219px;
   margin: 0 auto;
}
.candle__content-pic img{
}
.candle__text-container{
   background-color: #DF9B7A;
   height: 92px;
   width: 1219px;
   display: flex;
   justify-content: space-between;
   padding: 30px;
   position: relative;
   bottom: 20px;
}
.candle__big-text{
   color: #F6F4EC;
   font-size: 20px;
   line-height: 32px; /* 160% */
}
.candle__small-text{
   color: #F6F4EC;
   font-size: 18px;
   line-height: 28.8px;
}
/* finish coding styles for candle section */

/* start coding styles for girl section */
.girl{
   background-color: #F1D3B9;
   padding: 61px 0;
}
.girl__container{
   max-width: 1157px;
   margin: 0 auto;
}
.girl__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.girl__card{
   background-color: white;
   width: 518px;
   height: 582px;
   padding: 50px;
   position: relative;
   right: 5%;
}
.girl__card-title{
   color: #B45F4D;
   font-size: 30px;
   line-height: 57.6px;
   text-align: center;
}
.girl__card-text{
   color: #B45F4D;
   font-size: 19px;
   line-height: 30.4px;
   max-width: 418px; 
   margin-top: 22px;
   margin-bottom: 41px;
}
.girl__card-link{
   color: #B45F4D;
   font-size: 16px;
   line-height: 25.6px;
   text-decoration: none;
}
/* finish coding styles for girl section */

